# Visual Studio 2019 cache/options directory
.vs/

# Shader compilation batch/shell scripts (built by cmake instead)
compile_all_shaders.bat
compile_all_shaders.sh

# CMake output directory
out/

# CMakeSettings
CMakeSettings.json

# External dependencies
external/

# Compiled shader files
*.spv

# DataPath header (built by cmake instead)
DataPath.h

# Ignore solution directories until they are ready to be released
vulkanrt-solution1/
vulkanrt-solution2/
