# Visual Studio 2019 cache/options directory
.vs/

# Shader compilation batch/shell scripts (built by cmake instead)
compile_all_shaders.bat
compile_all_shaders.sh

# CMake output directory
out/

# CMakeSettings
CMakeSettings.json

# Compiled shader files
*.spv

# DataPath header (built by cmake instead)
LocalDefines.h
